$primary-text-dark: #4d545f;
$primary-light-blue: #3498db;
$retro-purple: #ee4679;

//--------------------------------THEME-------------------------------------------//
$white: #FFFFFF;
$black: #112D32;
$dark-blue: #254E58;
$light-blue: #88BDBC;
$dark-brown: #4F4A41;
$light-brown: #6E6658;
$light-grey: #e5e5e5;
